<div class="notice-box">  
  <p>2026/05/30　「ムツキ（ドレス）」、「ハルカ（ドレス）」を追加しました！</p>
  <p>2026/05/20　「エリカ」を追加しました！</p>
  <p>2026/05/20　シーズン11に更新しました。</p>
  <p>2026/05/03　「ニコ」、「クルミ」、「オトギ」を追加しました！</p>
  <p>2026/04/07　「アカネ（制服）」を追加しました！</p>
  <p>2026/03/19　「コノカ」、「レナ」を追加しました！</p>
  <p>2026/03/19　「コユキ（パジャマ）」を追加しました！</p>
  <p>2026/03/19　「ユズ（臨戦）」を追加しました！</p>
  <p>2026/01/29　「ケイ」、「アリス（臨戦）」を追加しました！</p>
  <p>2026/01/29　「ヒマリ（臨戦）」、「リオ（臨戦）」、「トキ（臨戦）」を追加しました！</p>
  <p>2025/12/25　「ツクヨ（ドレス）」、「ミチル（ドレス）」を追加しました！</p>
  <p>2025/11/22　「タカネ」、「ヤクモ」を追加しました！</p>
  <p>2025/11/22　「スバル」を追加しました！</p>
  <p>2025/11/05　シーズン10に更新しました。</p>
  <p>2025/10/23　「スズミ（マジカル）」、「レイサ（マジカル）」を追加しました！</p>
  <p>2025/10/14　「リツ」を追加しました！</p>
  <p>2025/10/14　「フユ」、「ミヨ」を追加しました！</p>
  <p>2025/09/12　「ミサキ（水着）」を追加しました！</p>
  <p>2025/08/22　「エリ」、「カノエ」を追加しました！</p>
  <p>2025/08/01　「ナギサ（水着）」、「ミカ（水着）」を追加しました！</p>
  <p>2025/07/23　「ハスミ（水着）」、「セイア（水着）」を追加しました！</p>
  <p>2025/07/02　検索結果の編成それぞれにGOOD,BADボタンを設置しました。それぞれの編成の勝率の判断にお役立てください。</p>
  <p>2025/07/02　生徒自体の指定だけでなく、射程と遮蔽物の仕様の有無によっても検索ができるようにしました。</p>
  <p>2025/06/26　「ユカリ（水着）」、「レンゲ（水着）」、「キキョウ（水着）」を追加しました！</p>
  <p>2025/06/15　おすすめ防衛編成メーカーをリリースしました！</p>
  <p>2025/06/09　【重要】サイトURLが <b>bluearchive-battlelog-p.com</b> に変わりました。旧URLから自動転送されますが、今後は新URLへのアクセス・ブックマーク更新をお願いします。</p>
  <p>2025/06/07　当サービスの「プライバシーポリシー」ページを設けました。ご利用前にご一読ください。</p>
  <p>2025/06/07　新しく「直近のアップロード」がトップページと検索画面に表示されるようになりました。</p>
  <p>2025/06/04　「ナツ（バンド）」を追加しました！</p>
  <p>2025/05/31　編成検索ページに全クリアのボタンを追加しました。</p>
  <p>2025/05/31　編成検索ページにて、すでに選択したキャラアイコンをドラッグ＆ドロップすることで配置を変更できるようにしました。</p>
  <p>2025/05/31　編成検索ページのキャラ選択画面にて、キャラアイコンを選択した状態で再度同アイコンを押すことでも選択が完了するようにしました。</p>
  <p>2025/05/30　待機中アニメーションを追加しました。</p>
  <p>2025/05/30　トップページに使い方等を追加しました。</p>
  <p>2025/05/28　ひらがな検索に対応しました！</p>
  <p>2025/05/27　サイトを公開しました！</p>
</div>